.container {
    position: relative;
    background: #008086;
    width: 564px;
    height: 816px;
    margin: auto;
    top: 20px;
    border: 30px solid black;
}

#cloud{
    width: 200px;
    height: 80px;
    background: #f2f9fe;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    position: absolute;
    left: 250px;
    top: 120px;
}

#cloud:before, #cloud:after{
    content: '';
    position: absolute;
    background: #f2f9fe;
}

#cloud:after{
    width: 100px;
    height: 100px;
    top: -40px;
    left: 20px;

    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

#cloud:before{
    width: 100px;
    height: 100px;
    top: -60px;
    right: 20px;

    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
}

/* Building Section */

.parallelogram1 {
    background: #ffffff;
    width: 335px;
    height: 60px;
    transform: rotate(16deg) skew(16deg);
    position: absolute;
    top: 373px;
    right: 236px;
}

.parallelogram2 {
    background: #C5342D;
    width: 335px;
    height: 25px;
    transform: rotate(16deg) skew(16deg);
    position: absolute;
    top: 434px;
    right: 236px;
}

.parallelogram3 {
    background: #ffffff;
    width: 335px;
    height: 18px;
    transform: rotate(16deg) skew(16deg);
    position: absolute;
    top: 460px;
    right: 236px;
}

.parallelogram4 {
    background: #C5342D;
    width: 335px;
    height: 95px;
    transform: rotate(16deg) skew(16deg);
    position: absolute;
    top: 480px;
    right: 236px;
}

.trapezoid1 {
    background: #210703;
    width: 335px;
    height: 8px;
    transform: rotate(16deg) skew(16deg);
    position: absolute;
    top: 576px;
    right: 236px;
}

.trapezoid2 {
    width: 310px;
    height: 12px;
    transform: rotate(196deg) skew(16deg);
    border-right: 0px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: 582px;
    right: 245px;
    z-index: 1
}

.parallelogram5 {
    background: #003C00;
    width: 312px;
    height: 8px;
    transform: rotate(16deg) skew(16deg);
    position: absolute;
    top: 589px;
    right: 258px;
    z-index: 1;
}

.trapezoid3 {
    width: 302px;
    height: 8px;
    transform: rotate(196deg) skew(17deg);
    border-right: 0px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 8px solid #002700;
    position: absolute;
    top: 597px;
    right: 258px;
    z-index: 1;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 230px solid transparent;
    border-right: 63px solid transparent;
    border-bottom: 235px solid #4C3A1F;
    transform: rotate(195deg);
    position: absolute;
    top: 591px;
    right: 306px;
  }

.trapezoid4 {
    width: 339px;
    height: 13px;
    transform: rotate(330deg) skew(43deg); 
    border-right: 0px solid transparent;
    border-left: 32px solid transparent;
    border-bottom: 21px solid #210703;
    position: absolute;
    top: 699px;
    right: 240px;
}

.parallelogram6 {
    width: 327px;
    height: 0px;
    transform: rotate(330deg) skew(61deg);
    border-right: 0px solid transparent;
    border-left: 19px solid transparent;
    border-bottom: 8px solid #003C00;
    position: absolute;
    top: 722px;
    right: 249px;    
}

.trapezoid5 {
    width: 312px;
    height: 0px;
    transform: rotate(330deg) skew(56deg);
    border-right: 0px solid transparent;
    border-left: 21px solid transparent;
    border-bottom: 11px solid #002700;
    position: absolute;
    top: 714px;
    right: 262px;
}