body {

}

.container {
    background: #008086;
    width: 564px;
    height: 845px;
}

.white1 {
    background: #ffffff;
    width: 335px;
    height: 60px;
    transform: rotate(16deg) skew(16deg);
    position: absolute;
    top: 373px;
    left: 1px;
}

.red1 {
    background: #C5342D;
    width: 335px;
    height: 25px;
    transform: rotate(16deg) skew(16deg);
    position: absolute;
    top: 434px;
    left: 1px;
}

.white2 {
    background: #ffffff;
    width: 335px;
    height: 18px;
    transform: rotate(16deg) skew(16deg);
    position: absolute;
    top: 460px;
    left: 1px;
}

.red2 {
    background: #C5342D;
    width: 335px;
    height: 95px;
    transform: rotate(16deg) skew(16deg);
    position: absolute;
    top: 480px;
    left: 1px;
}

.darkred1 {
    background: #210703;
    width: 335px;
    height: 8px;
    transform: rotate(16deg) skew(16deg);
    position: absolute;
    top: 576px;
    left: 1px;
}

.black1 {
    /* background: #000000;
    width: 311px;
    height: 12px;
    transform: rotate(20deg) skew(-40deg);
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-bottom: 50px solid red;
    position: absolute;
    top: 586px;
    left: -1px; */

    width: 307px;
    height: 12px;
    transform: rotate(196deg) skew(16deg);
    border-right: 0px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: 582px;
    left: 2px;
}